body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    background-color: hsl(210, 46%, 95%);
}
.wrapper{
    box-sizing: border-box;
    padding:40px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "card1 card1 card2 card5"
    "card3 card4 card4 card5"
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.testimonial-card{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 20px;
    box-sizing: border-box;
    padding:25px;
    border-radius:10px;
    margin:10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
.light-font{
    color: hsl(0, 0%, 100%);
}
.dark-font{
    color:hsl(0, 0%, 25%);;
}
.purple-card{
    background-color: hsl(263, 55%, 52%);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-position: top right 6vw;
    background-repeat: no-repeat;

}
.grey-card{
    background-color:hsl(217, 19%, 35%);
}
.black-card{
    background-color: hsl(219, 29%, 14%);
}
.white-card{
    background-color: hsl(0, 0%, 100%);
}
.name{
    font-weight:500;
    margin-bottom:2px;
}
.designation{
    opacity: 50%;
}
.testimonial-heading{
    font-size:20px;
    font-weight: 600;
}
.review{
    opacity: 75%;
}
.reviewer-details{
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
}
img{
    border-radius: 50%;
    border: 2px solid white;
    height:28px;
    width:28px;
    margin-right:14px;
}
@media screen and (max-width: 840px) {
    .wrapper{
        display: block;
        padding:10px;
    }
  }